.navbar {

    background-color: #c0392c;
}
.banner p.sub-title {
    color: #c0392c;
}
.feature-banner:after {
    background-color: #c0392c;
}
.features-list h5 {
    color: #c0392c;
}
footer {
    background-color: #c0392c;
}
.chart-title .code {
    color: #c0392c;
}
.form-box .form-inner:after {
    background-color: #c0392c;
}
.form-box .input-group-text {
    background-color: #c0392c;
}
.color-table:after {
    background-color: #c0392c;
}
.tab-box .tab-inner:after {
    background-color: #c0392c;
}
.news-box .news-inner:after {
    background-color: #c0392c;
}
.margin-box .margin-inner:after {
    background-color: #c0392c;
}
.register-banner:after {
    background-color: #c0392c;
}
.navbar .dropdown-menu {
    background-color: #c0392c;
}
.profile-banner:after {
    background-color: #c0392c;
}
.profile-box .progress .progress-bar {
    background-color: #c0392c;
}
.progress .progress-bar {
    background-color: #c0392c;
}